* {
    
    margin: 0;
    padding: 0;
    
}

body {
    
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333333;
    
}

#contenedor {
	
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

a {
    
    color: white;
    text-decoration: none;
    
}

nav {
    
    position: absolute;
    width: 100%;
    height: 40px;
    background-color:rgba(17, 75, 63, 0.6);
    padding-top: 15px; 
    z-index: 5; 
    
}

#menu {
    
    width: 70%;
    display: inline-block;
}

#panelLog {
	
    width: 29%;
    display: inline-block;
}

nav div ul {
    
    width: 100%;
    padding-left: 150px;
    
}

nav div ul li {
    
    width: 75px;
    display: inline-block;    
    list-style: none;
}


#contenedorVideo {
	
    height: 600px;
    overflow: hidden;
    position: relative;
    
}

#divVideo {
    
    z-index: 1;
    position: absolute;
    
}


video {
    
    width: 100%;
}

#filtro {
    
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(17, 75, 63);
    opacity: 0.6;
}

#contenido {
	
    z-index: 3;
    position: absolute;
    top: 250px;
    left: 150px;
    
}

h1 {
    
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 5px;
    
}

h2 {
    color: white;
    margin-bottom: 10px;
}

#botonEntra {
    
    border: none;
    padding: 10px 25px;
    background-color: #d94294;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    
    
}